html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fefefe;
}

.titulo{
    text-align: center;
}

.tudo{
    background-color: #d3d3d3;
    display: flex;
    width: max-content;
    height: auto;
    border-radius: 10px;
    margin-top: 60px;
    padding: 50px;
    justify-self: center;
}

.calculadora{
    background-color: #b4b4b4;
    height: min-content;
    width: max-content;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.divResultado{
    background-color: #b4b4b4;
    height: 100px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    align-self: center;
}

.resultado{
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
}

.h3Resultado{
    font-size: 33px;
    content: "new";
}
  
/*.tela{
    height: 100px;
    width: auto;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}*/

.input{
    height: 100px;
    width: 170px;
    text-align: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.divBotao{
    width: fit-content;
    justify-self:center;
}

.botao{
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 40px;
    justify-content: center;
    display: flex;
}

